@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Satoshi", sans-serif;
  cursor: url("./assets/coolcursor.png"), auto;
  background-color: #141414;
}
::selection {
  color: #6f4bff;
  background: #aaaaaa;
}

.block-container {
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0.8;
}

.block {
  overflow: hidden;
  background-color: #141414;
  flex-grow: 1;
  height: full;

  border: 1px #505050 solid;
  transition: 0s;
}
.block-active {
  overflow: hidden;
  background-color: #000000;
  flex-grow: 1;
  height: full;
 
  border: 1px #505050 solid;
}
